.initTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: Green;


}

.initTileDark{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: DarkGreen;
}

.exploredTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #ff7f00;
}

.exploredTileLight{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #ffab6d;
}


.flaggedTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #f50202;
}

.EndGamePopUp{
    -fx-background-color: #312f2f;
    -fx-pref-width: 120;
    -fx-pref-height: 120;

}

