.initTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #343434;
}

.initTileDark{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #000000;
}

.borderTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #696969;
}

.exploredTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #002988;
    -fx-text-fill: #b5a1e1;

}

.exploredTileLight{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #106473;
    -fx-text-fill: #b5a1e1;
}

.TopPane{
    -fx-background-color: #696969;
    -fx-text-fill: #b5a1e1;
    -fx-alignment: center;
    -fx-font-weight: Bold;
    -fx-font-size: 13;


}


.flaggedTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #f50202;
}

.EndGamePopUpRoot{

    -fx-background-color:  #696969;
    -fx-max-height: 250;
    -fx-max-width: 100;
    -fx-alignment: center;



}

.EndGamePopUpLabel{

    -fx-text-fill: #000000;



}

.EndGamePopUpButton{

    -fx-text-fill: #98c0f3;

}



