.initTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: Green;
}

.initTileDark{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: DarkGreen;
}

.borderTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: LightBlue;
}

.exploredTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #ff7f00;
}

.exploredTileLight{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #ffab6d;
}


.flaggedTile{
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 18;
    -fx-background-color: #f50202;
}

.TopPane{
    -fx-background-color: LightBlue;
    -fx-alignment: center;

    -fx-font-weight: Bold;
    -fx-font-size: 16;

}

.EndGamePopUpRoot{

    -fx-background-color: LightBlue;
    -fx-max-height: 250;
    -fx-max-width: 100;
    -fx-alignment: center;



}

.EndGamePopUpLabel{

    -fx-text-fill: #000000;



}

.EndGamePopUpButton{

    -fx-text-fill: #98c0f3;

}

